* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	height: 100vh;
	width: 100px;
	font-family: 'Ubuntu', sans-serif;
	background-color: royalblue;
	overflow: hidden;
	width: 60px;
}

